<div class="row row-cols-1 row-cols-lg-4 g-4">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Albums ajoutés à la liste d'écoute</h5>
                <h1>{{ nb_albums_to_listen }}</h1>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Albums écoutés en {{ "now" | format_datetime(pattern='MMMM yyyy', locale='fr') }}</h5>
                <h1>{{ nb_albums_listened_during_current_month }}</h1>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Albums écoutés depuis janvier {{ "now" | format_datetime(pattern='yyyy', locale='fr') }}</h5>
                <h1>{{ nb_albums_listened_since_start_of_year }}</h1>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Albums sortis en {{ "now" | format_datetime(pattern='MMMM yyyy', locale='fr') }}</h5>
                <h1>{{ nb_albums_released_during_current_month }}</h1>
            </div>
        </div>
    </div>
</div>
